
.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    .tabs-list {
      display: flex;
      border-bottom: 2px solid #ccc;
    }
  
    .tabs-trigger {
      padding: 10px 15px;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid transparent;
      cursor: pointer;
      font-size: 17px;
      color: #9e9090;
      transition: border-color 0.3s ease, color 0.4s ease;
  
      &:hover {
        color: #333;
      }
  
      &--active {
        border-bottom-color: #86909b;
        color: #a8b193;
      }
    }
  
    .tabs-content {
      padding: 20px;
  
      .tabs-content-item {
        display: none;
  
        &--active {
          display: block;
        }
      }
    }
  }